.container {
    max-width: 1920px;
    margin: 0 auto;
}

.block {
    max-width: 1300px;
    margin: 0 310px;
}

.pointer {
    cursor: pointer;
}

.button-link {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 60px 28px 50px;
}

.header__nav {
    max-width: 672px;
    width: 100%;
    font-family: 'Oswald', serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #111111;
    margin-left: 32px;
}

.header__nav__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.header__nav__list li a {
    text-decoration: none;
    color: #111111;
    position: relative;
}

.header__nav__list li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #111111;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.header__nav__list li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.socials {
    display: flex;
}

.socials a {
    margin-left: 30px;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.socials a:hover {
    transform: scale(1.5);
}

.socials a:first-child {
    margin: 0;
}

.billboard {
    background: url("../images/kristian-angelo.jpg") no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.billboard__content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 298px 313px 87px;
    max-width: 637px;
    width: 100%;
}

h1 {
    font-family: 'Rozha One', serif;
    font-size: 118px;
    line-height: 168px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.billboard__info {
    font-family: 'Raleway', serif;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 1px #111111;
    margin-bottom: 45px;
    margin-top: -13px;
    max-width: 572px;
    width: 100%;
}

.billboard button, .gallery button, .contact__form__send button {
    font-family: 'Oswald', serif;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: transform 0.2s ease-in-out;
}

.billboard button {
    padding: 20px 40px;
    background: transparent;
    border: 1px solid #FFFFFF;
}

.billboard button:hover, .gallery button:hover, .contact__form__send button:hover {
    transform: scale(1.1);
}

.billboard__text {
    font-family: 'Oswald', serif;
    font-weight: 700;
    font-size: 224px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: transparent;
    margin-left: -5px;
    text-stroke: 2px solid rgba(255, 255, 255, 0.24);
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.24);
}

.my__story {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    padding-bottom: 159px;
}

.my__story__number {
    background: url(../images/marcelina.jpg) no-repeat center center;
    background-size: 110%;
    padding-top: 20px;
    padding-right: 15px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.number {
    font-family: 'Rozha One', serif;
    font-size: 726px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

.my__story__block {
    display: flex;
    flex-direction: column;
    padding-top: 231px;
}

.my__story__text {
    display: flex;
    flex-direction: column;
    max-width: 530px;
    width: 100%;
    padding-top: 38px;
    padding-left: 110px;
}

.my__story h2, .gallery h2, .contact__form h2 {
    font-family: 'Oswald', serif;
    font-size: 85px;
    line-height: 104%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #111111;
}

.my__story h2 {
  display: block;
  max-width: 236px;
  width: 100%;
}

.my__story p {
    font-family: 'Raleway', serif;
    font-size: 18px;
    line-height: 187%;
    letter-spacing: 0.02em;
    color: #555555;
}

.my__story__text p:first-child {
    padding-bottom: 18px;
}

.my__story__text p:last-child {
    line-height: 186%;
}

.my__story__text__link {
    max-width: 120px;
    width: 100%;
    padding-left: 110px;
    padding-top: 35px;
}

.my__story a {
    font-family: 'Oswald', serif;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #111111;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery {
    width: 100%;
    background-color: #F9F9F9;
}

.gallery h2 {
    padding: 151px 0 75px 310px;
}

.grid {
    max-width: 1920px;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 465px;
    height: 412px;
    float: left;
}

.grid-item-margin {
    margin-bottom: 20px;
}

.grid-item--height2 {
    height: 540px;
}

.images__button {
    text-align: center;
}

.gallery button {
    height: 67px;
    width: 176px;
    background-color: #111111;
    border: none;
    margin-top: 75px;
    margin-bottom: 164px;
    padding: 19px 40px 21px 40px;
}

.skills {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skills__block {
    display: flex;
    justify-content: space-between;
    padding: 164px 328px 0 328px;
}

.skills__numbers {
    font-family: 'Oswald', serif;
    font-size: 78px;
    line-height: 116px;
    text-align: center;
    letter-spacing: -1.56px;
    text-transform: uppercase;
    color: #111111;
    width: 275px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__percent {
    font-weight: 200;
}

.skills__first {
    background: url("../images/Ellipse_1.png") center center no-repeat, url("../images/Ellipse_2.png") center center no-repeat;
}

.skills__second {
    background: url("../images/Ellipse_1.png") center center no-repeat, url("../images/Ellipse_3.png") center center no-repeat;
}

.skills__third {
    background: url("../images/Ellipse_1.png") center center no-repeat, url("../images/Ellipse_4.png") center center no-repeat;
}

.skills__fourth {
    background: url("../images/Ellipse_1.png") center center no-repeat, url("../images/Ellipse_5.png") center center no-repeat;
}

.skills__block p {
    font-family: 'Oswald', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 187%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #111111;
    padding-top: 25px;
}

.reviews {
    display: flex;
    gap: 30px;
    padding: 54px 324px 37px 385px;
    height: 438px;
}

.reviews > img {
    width: 175px;
    height: 110px;
    padding-top: 115px;
}

.reviews__text {
    font-family: 'Raleway', serif;
    font-size: 36px;
    line-height: 160%;
    letter-spacing: 0.72px;
    color: #111111;
    padding-top: 161px;
    max-width: 1011px;
    width: 100%;
}

.reviews__text__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    max-width: 269px;
    width: 100%;
    font-family: 'Oswald', serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 180%;
    text-transform: capitalize;
    color: #111111;
}

.reviews__text__author span {
    font-weight: 600;
}

.slider {
    width: 1011px;
    padding: 0;
}

.slick-track {
    width: 1011px;
}

.slick-prev,
.slick-next {
    background: transparent;
    z-index: 9999;
}

.slick-prev {
    right: 145px;
    left: auto;
    top: 90%;
    transform: rotate(180deg);
}

.slick-next {
    right: 100px;
    top: 91%;
}

.slick-prev:before,
.slick-next:before {
    content: url("../images/Vector4.svg");
}

.watch__interview {
    position: relative;
    background: url("../images/Rectangle47.jpg") 0 100% no-repeat;
    width: 100%;
}

.watch__interview::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 2;
}

.interview {
    position: relative;
    z-index: 3;
    padding: 246px 0 247px 310px;
    max-width: 885.5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.watch__interview h2 {
    margin-bottom: 33px;
    font-family: 'Rozha One', serif;
    font-size: 60px;
    line-height: 108%;
    letter-spacing: -1.2px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.watch__interview button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: 'Oswald', serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.watch__interview img {
    width: 91px;
    height: 91px;
    margin-right: 20px;
}

.articles {
    width: 100%;
}

.articles__block {
    display: flex;
    justify-content: space-between;
    padding: 277px 223px 162px 222px;
}

.articles__item {
    display: flex;
    flex-direction: column;
}

.articles__item h4 {
    font-family: 'Oswald', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 187%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #111111;
    padding-bottom: 16px;
    padding-left: 10px;
}

.articles__item img {
    max-width: 420px;
    width: 100%;
}

.articles__item a {
    font-family: 'Raleway', serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 187%;
    letter-spacing: 0.02em;
    color: #111111;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 7px;
}

.articles__item p {
    font-family: 'Raleway', serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 187%;
    letter-spacing: 0.02em;
    color: #ACACAC;
}

.contact__form {
    background-color: #F9F9F9;
    width: 100%;
}

.contact__form__block {
    display: flex;
    justify-content: space-between;
    padding-top: 153px;
    padding-bottom: 164px;
}

.contact__form__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 640px;
    width: 100%;
}

.contact__form__town {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}

.contact__form__la, .contact__form__nyc {
    max-width: 310px;
    width: 100%;
}

.office__title {
    font-family: 'Oswald', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 187%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #111111;
}

.office__text {
    font-family: 'Raleway', serif;
    font-size: 18px;
    line-height: 187%;
    letter-spacing: 0.36px;
    color: #333333;
    padding-top: 11px;
}

.office__address, .office__tel, .office__email, .office__link {
    font-family: 'Raleway', serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.36px;
    color: #111111;
    text-decoration: none;
}

.office__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 23px;
    padding-bottom: 31px;
}

.office__contacts img {
    margin-right: 10px;
}

.office__contacts__item {
    display: flex;
    align-items: center;
}

.contact__form__town hr {
    max-width: 106px;
    width: 100%;
    height: 1px;
    border: none;
    margin: 3px 0;
    background-color: #111111;
}

.contact__form__send {
    padding-top: 134px;
    max-width: 600px;
    width: 100%;
}

.contact__form__send input::placeholder {
    font-family: 'Raleway', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.06em;
    color: #555555;
    max-width: 600px;
    width: 100%;
}

.contact__form__send input {
    background-color: transparent;
    border: none;
    padding: 37px 0 9px 0;
    max-width: 600px;
    width: 100%;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.06em;
    color: #111111;
}

.contact__form__send input:focus {
    outline: none;
}

.contact__form__send hr {
    max-width: 600px;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #111111;
}

.contact__form__send button {
    background-color: #111111;
    border: none;
    margin-top: 62px;
    padding: 14px 40px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #141414;
    width: 100%;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    padding-top: 156px;
    padding-bottom: 127px;
}

.footer__info__item h4 {
    font-family: 'Oswald', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 26px;
}

.footer__address {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.footer__address img {
    margin-right: 10px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.phone, .email, .address {
    font-family: 'Raleway', serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #DBDBDB;
}

.footer__info__item__text {
    font-family: 'Raleway', serif;
    font-size: 18px;
    line-height: 33.66px;
    letter-spacing: 0.36px;
    color: #DBDBDB;
    max-width: 310px;
    width: 100%;
}

.footer__info__item nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.useful__links, .work__schedule {
    font-family: 'Raleway', serif;
    font-size: 18px;
    line-height: 37.14px;
    letter-spacing: 0.36px;
    list-style-type: none;
    color: #DBDBDB;
}

.useful__links a:hover {
    font-weight: 600;
}

.useful__links li a {
    text-decoration: none;
    color: #DBDBDB;
}

.email__field {
    padding-top: 19px;
}

.email__field__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email__field input {
    background-color: transparent;
    border: none;
    width: 150px;
    font-family: 'Raleway', serif;
    font-style: italic;
    font-size: 14px;
    color: #DBDBDB;
}

.email__field input::placeholder {
    font-family: 'Raleway', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #DBDBDB;
}

.email__field input:focus {
    outline: none;
}

.email__field button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 26px;
}

.email__field hr {
    max-width: 310px;
    width: 100%;
    border: none;
    background-color: #b6b6b6;
    height: 1px;
    margin-bottom: 0;
    margin-top: 12px;
}

.footer__bottom hr {
    background-color: #2B2B2B;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer__bottom p {
    background-color: #141414;
    font-family: 'Raleway', serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #DBDBDB;
    padding: 37px 0 37px 310px;
}